page-login {
  ion-content {
  background: url(../assets/imgs/UPS.jpg) no-repeat center center fixed;
  background-size: cover;
  }
  img{
    text-align: center;
    align-content: center;
    align-self: center;
    max-width: 710px;
    max-height: 710px;
  }
  .ion-item  {
    background-color: transparent;
}
}

      
